<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{job.title}} - Devcentral Careers</title>
    {% include "bootstrap.html" %}
  </head>
  <body>
    {% include "nav.html" %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">DevCentral Careers</h1>
      <h3>{{job.title}}</h3>
      <p class="lead">{{job.location}}</p>
      <h3>Salary:</h3>
      <p>{{job.currency}} {{job.salary}}</p>
      <h3>Responsibilities: </h3>
      <ul>
        {% for line in job.responsibilities.split("\n") %}
          <li>{{line}}</li>
        {% endfor %}
      </ul>
      <h3>Requirements: </h3>
      <ul>
        {% for line in job.requirements.split("\n") %}
          <li>{{line}}</li>
        {% endfor %}
      </ul>
    </div>
    {% include "footer.html" %}
  </body>
</html>